before-sirius.pro.user
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/gameboard.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.cpp
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/player.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.cpp
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/Info.plist
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/PkgInfo
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/MacOS/before-sirius
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/Resources/empty.lproj
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/dialog.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/moc_dialog.cpp
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/moc_dialog.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/mysquare.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.cpp
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/ui_dialog.h
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/View2.app/Contents/Info.plist
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/View2.app/Contents/PkgInfo
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/View2.app/Contents/MacOS/View2
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/View2.app/Contents/Resources/empty.lproj
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/mainwindow.o
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/moc_mainwindow.cpp
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/moc_mainwindow.o
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/player.o
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/qrc_Ressources.cpp
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/qrc_Ressources.o
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/save
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/save.ini
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoad.app/Contents/Info.plist
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoad.app/Contents/PkgInfo
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoad.app/Contents/MacOS/save.ini
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoad.app/Contents/MacOS/SaveAndLoad
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoad.app/Contents/Resources/empty.lproj
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/moc_widget.cpp
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/moc_widget.o
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/neige.o
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/surface.o
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/widget.o
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/HotPoint-Collision.app/Contents/Info.plist
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/HotPoint-Collision.app/Contents/PkgInfo
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/HotPoint-Collision.app/Contents/MacOS/HotPoint-Collision
Playground/steve/build-HotPoint-Collision-Desktop_Qt_5_3_clang_64bit-Debug/HotPoint-Collision.app/Contents/Resources/empty.lproj
HotPoint-Collision.pro.user.1fe283d
save.ini
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/gameboard.o
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.cpp
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.o
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/player.o
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.cpp
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.o
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/viewtransitionsurface.o
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/sceneAndViews.app/Contents/Info.plist
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/sceneAndViews.app/Contents/PkgInfo
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/sceneAndViews.app/Contents/MacOS/sceneAndViews
Playground/romain/build-sceneAndViews-Desktop_Qt_5_3_clang_64bit-Debug/sceneAndViews.app/Contents/Resources/empty.lproj
SaveAndLoad.pro.user
*.user
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/bloques.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/gameboard.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.cpp
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/player.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.cpp
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/qrc_maps.cpp
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/qrc_maps.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/surfaces.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/viewtransitionsurface.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/populateSceneWithTxt.app/Contents/Info.plist
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/populateSceneWithTxt.app/Contents/PkgInfo
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/populateSceneWithTxt.app/Contents/MacOS/populateSceneWithTxt
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/populateSceneWithTxt.app/Contents/Resources/empty.lproj
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/blockswalls.o
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/moc_blockswalls.cpp
Playground/romain/build-populateSceneWithTxt-Desktop_Qt_5_3_clang_64bit-Debug/moc_blockswalls.o
Iconr
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/blocdeplacable.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/gameboard.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.cpp
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/neige.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/pingouin.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/player.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.cpp
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/surface.o
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/Info.plist
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/PkgInfo
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/MacOS/before-sirius
Playground/steve/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/Resources/empty.lproj
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/b_movable.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/b_wall.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/block.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/dialog.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/gameboard.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/moc_dialog.cpp
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/moc_dialog.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.cpp
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/movableblock.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/p_penguin.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/penguin.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/player.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.cpp
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/qrc_ItemsPopulation.cpp
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/qrc_ItemsPopulation.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/s_snow.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/s_viewtransition.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/snow.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/surface.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/viewtransitionsurface.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/wallblock.o
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/JG_Banane_Sacree.app/Contents/Info.plist
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/JG_Banane_Sacree.app/Contents/PkgInfo
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/JG_Banane_Sacree.app/Contents/MacOS/JG_Banane_Sacree
Sirius/build-JG_Banane_Sacree-Desktop_Qt_5_3_clang_64bit-Debug/JG_Banane_Sacree.app/Contents/Resources/empty.lproj
Administration/Spécifications (Margaux).docx
Administration/Spécifications (Merged).docx
Administration/Spécifications (Méthodes).docx
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/save.dat
Playground/margaux/SaveAndLoad/build-SaveAndLoad-Desktop_Qt_5_3_clang_64bit-Debug/save.json
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/game.o
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/menustart.o
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/moc_menustart.cpp
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/moc_menustart.o
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/profil.o
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/qrc_Ressource.cpp
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/qrc_Ressource.o
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/save.dat
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/save.json
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoadBIS.app/Contents/Info.plist
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoadBIS.app/Contents/PkgInfo
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoadBIS.app/Contents/MacOS/SaveAndLoadBIS
Playground/margaux/SaveAndLoad/build-SaveAndLoadBIS-Desktop_Qt_5_3_clang_64bit-Debug/SaveAndLoadBIS.app/Contents/Resources/empty.lproj
b_water.o
moc_m_pause.o
moc_m_pause.cpp
m_pause.o
