before-sirius.pro.user
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/gameboard.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.cpp
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/moc_gameboard.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/player.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.cpp
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.o
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/Info.plist
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/PkgInfo
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/MacOS/before-sirius
Playground/romain/build-before-sirius-Desktop_Qt_5_3_clang_64bit-Debug/before-sirius.app/Contents/Resources/empty.lproj
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/.qmake.stash
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/dialog.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/main.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/Makefile
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/moc_dialog.cpp
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/moc_dialog.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/mysquare.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.cpp
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/qrc_images.o
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/ui_dialog.h
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/View2.app/Contents/Info.plist
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/View2.app/Contents/PkgInfo
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/View2.app/Contents/MacOS/View2
Playground/romain/build-test2-Desktop_Qt_5_3_clang_64bit-Debug/View2.app/Contents/Resources/empty.lproj
